<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Ziqqu - The social music experiment</title>
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/jquery-ui.min.js"></script>
	<script src="http://connect.facebook.net/en_US/all.js"></script>
	
 <script src="http://platform.twitter.com/anywhere.js?id=Ld88ypSPa2wk5vPWrpRg&v=1"></script>
  <script type="text/javascript">
	twttr.anywhere(function(twitter) {
	//twitter("a.link-class").hovercards({
 	    twitter("#link-class #twitter_div").hovercards({
	username: function(node) {
	return node.title;
	}
	});
            // enable links for @names
	    twitter().linkifyUsers();
	});
  </script>
<script>
	      FB.init({
	      appId: "395715373788921",
	      cookie: true,
	      xfbml: true,
	     oauth: true
	      });
	</script>

	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=395715373788921";
	  fjs.parentNode.insertBefore(js, fjs);
	  }(document, 'script', 'facebook-jssdk'));</script>

<script>

</script>



	<script type="text/javascript">
	$(document).ready(function() {
       
	// facebook button.

		var $dialog = $('<div></div>')
			.html('<fb:like-box href="https://www.facebook.com/pages/Ziqqu/170880032923050" width="400" show_faces="true" border_color="white" stream="true" header="false" height = "550"></fb:like-box> <br> <br> <div class="fb-comments" data-href="https://www.facebook.com/pages/Ziqqu/170880032923050" data-num-posts="0" data-width="400"  ></div> <br> <fb:send href="https://www.facebook.com/pages/Ziqqu/170880032923050"></fb:send><br><fb:subscribe href="https://www.facebook.com/pages/Ziqqu/170880032923050" show_faces="true" width="450"></fb:subscribe> ')
			.dialog({
				autoOpen: false,
				title: 'Facebook On Ziqqu',
				width : 450,
				height : 700
			});

		$('.facebook_button').click(function() {
			$dialog.dialog('open');
			// prevent the default action, e.g., following a link
			return false;
		});

      
                      
               //alert($dialog1);
		$('.twitter_button').click(function() {
                        $('#link-class').dialog({autoOpen:false,title:'Twitter On ZiqquMusic'});
			$('#link-class').dialog('open');

			return false;
		});

		});
   
	</script>


<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(bg.jpg);
	background-color: #F4F0F1;
	background-repeat: repeat-x;
}
-->
</style></head>

<body>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody><tr>
    <td><table border="0" cellpadding="0" cellspacing="0" width="1010" align="center">
      <tbody><tr>
        <td><img src="/assets/home.jpg" usemap="#Map" border="0" width="1010"></td>
      </tr>
    </tbody></table></td>
  </tr>
</tbody></table>

<map name="Map" id="Map"><area shape="rect" coords="743,103,776,137" href="#" class ="facebook_button"><area shape="rect" coords="796,103,830,137" href="#" class = "twitter_button"></map>
	<div id="link-class">
		<div id="twitter_div" ><script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script> 
				<script>
					 new TWTR.Widget({version: 2, id: 'twitter_div' ,type: "profile",rpp: 4,interval: 30000,width: 							250,height: 300,theme: {shell: {background: "#a3dbf0",color:"#ffffff"},tweets: {background: 							"#518df5",color: "#ffffff",links: "#eb4407"}},features: {scrollbar: true,loop: true,live: 							true,behavior: "all"}}).render().setUser("ZiqquMusic").start();
				</script>
		</div>
       		 <div id="follow"> <a href="https://twitter.com/intent/user?screen_name=ziqqumusic"><img src="" alt ="Follow@Ziqqumusic" /></a> </div>  
                 <div id="follower_image"><script type="text/javascript" src="http://twittercounter.com/embed/?username=ZiqquMusic&style=none"></script><noscript><a href="http://twittercounter.com/ZiqquMusic">ZiqquMusic follower</a></noscript></div>	

 	</div>

</body>
</html>
