<script type="text/javascript">
      // you can add our javascript code here 
$(document).ready(function() {
    
    $("#facebook_button").click(function() {
        //$(".ss").dialog();
	window.open('index','Continue_to_Application','width=420,height=300');   
    });
    $("#twitter_button").click(function() {
        window.open('twitter','Continue_to_Application','width=400,height=400');
    });
});
</script>
<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 4,
  interval: 30000,
  width: 250,
  height: 300,
  theme: {
    shell: {
      background: '#2eb1d9',
      color: '#ffffff'
    },
    tweets: {
      background: '#000000',
      color: '#ffffff',
      links: '#667ac9'
    }
  },
  features: {
    scrollbar: true,
    loop: true,
    live: true,
    behavior: 'default'
  }
}).render().setUser('twitter').start();
</script>
<img src="/assets/facebook.png" alt="facebook" height="42" width="42" id="facebook_button" /> 
<img src="/assets/twitter.png" alt="twitter" height="42" width="42" id="link-class" /> 
<!-- <div id="link-class">@sathishinlinux</div> -->
